<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post View</title>
</head>
<body>

<!--<div th:include="partials :: navbar"></div>-->
<form th:action="@{/posts/show}" th:object="${post}">
<h1 th:text="${post.title}"></h1>
<p th:text="${post.body}"></p>

    <a th:href="@{|/posts/edit/${post.id}|}">edit</a>

    <form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">
        <button>delete</button>
    </form>
<!--<div th:include="partials::footer"></div>-->
</form>
</body>
</html>