<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


    <nav th:fragment="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>



    <header th:fragment="header">
        <h1>Blog Title</h1>
        <h2>Blog Subtitle</h2>
        <p>the we hit it with a paragraph tag cause it tends to be a little longer</p>
    </header>


    <footer th:fragment="footer">
        &copy; 2020 SpringBlog
    </footer>



</body>
</html>
